<div class="contentPart">
  <div class="headerpart">
    <h1>My Activities</h1>
  </div>
  <div class="contentpart">
    <div class="container">
      <mat-card>
        <button mat-mini-fab color="accent" style="margin-left:90%;">
          <i class="fas fa-plus"></i>
        </button>
        <table class="table table-striped">
          <tr>
            <th>S.No</th>
            <th>Date</th>
            <th>Activity</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </table>
      </mat-card>
    </div>
  </div>
</div>
