<div class="contentPart">
  <div class="headerpart">
    <h1>My Activities</h1>
  </div>
  <div class="contentpart">
    <div class="container">
      <mat-card>
        <div class="row">
          <table class="table">
            <tr>
              <th>Date</th>
              <th>Activity</th>
              <th>Status</th>
              <th>Add</th>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td><button mat-mini-fab color="accent">
                <i class="fas fa-plus"></i></button>
              </td>
            </tr>
          </table>
        </div>
        <table class="table table-striped">
          <tr>
            <th>S.No</th>
            <th>Date</th>
            <th>Activity</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </table>
      </mat-card>
    </div>
  </div>
</div>
