<!--The content below is only a placeholder and can be replaced.-->

<!-- top fixed navigation bar -->
<nav class="navbar navbar-fixed-top">
  <div class="">
    <div class="navbar-header">
      <div class="navbrand">
        <a>
          <img src="../assets/sns_institute_logo.png" alt="sns-logo">
        </a>
        <button mat-icon-button (click)="clickEvent()">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </div>
  </div>

  <form action="" class="navbar-form navbar-right">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="search..." name="search">
      <div class="input-group-btn">
        <button mat-button type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>
  <button mat-icon-button>
    <i class="far fa-bell"></i>
  </button>
</nav>

<!-- side navigation bar -->
<div id="sideNav" class="sidenav" [ngClass]="status ? 'showSideNav' : 'hideSideNav'">
  <div class="sideNavContent">
    <app-sidenav></app-sidenav>
  </div>
</div>
<div id="content" [ngClass]="status ? 'showSideNav' : 'hideSideNav'">
  <router-outlet></router-outlet>
</div>