<mat-card>
    <mat-card-header>
        <mat-card-title>
            <img class="avatar" src="../../assets/avatar.png" alt="avatar">
            <br/> Student Name
        </mat-card-title>
        <mat-card-subtitle>Degree</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <h4>
            <strong>MENU</strong>
        </h4>
        <mat-divider></mat-divider>
        <a routerLink="/dashboard">
            <button mat-button (click)="onClick('dashboard')" [class.selected]="dashboardButton">
                <i class="fas fa-home"></i> &nbsp;&nbsp;My Dashboard</button>
        </a>
        <a routerLink="/levels">
            <button mat-button (click)="onClick('levels')" [class.selected]="levelsButtom">
                <i class="fas fa-th-list"></i> &nbsp;&nbsp;My Levels</button>
        </a>
        <a routerLink="/achievements" routerLinkActive="active">
            <button mat-button (click)="onClick('achievements')" [class.selected]="achievementsButton">
                <i class="fas fa-trophy"></i> &nbsp;&nbsp;My Achievements</button>
        </a>
        <a routerLink="/badges" routerLinkActive="active">
            <button mat-button (click)="onClick('badges')" [class.selected]="badgesButton">
                <i class="fas fa-award"></i> &nbsp;&nbsp;My Badges</button>
        </a>
        <a routerLink="/activities" routerLinkActive="active">
            <button mat-button (click)="onClick('activities')" [class.selected]="activitiesButton">
                <i class="fas fa-chart-line"></i> &nbsp;&nbsp;My Activities</button>
        </a>
        <a routerLink="/profile" routerLinkActive="active">
            <button mat-button (click)="onClick('profile')" [class.selected]="profileButton">
                <i class="far fa-user"></i> &nbsp;&nbsp;My Profile</button>
        </a>
        <a routerLink="/contactAdmin" routerLinkActive="active">
            <button mat-button (click)="onClick('contactAdmin')" [class.selected]="contactAdminButton">
                <i class="fas fa-headset"></i> &nbsp;&nbsp;Contact Admin</button>
        </a>
        <a routerLink="/logout">
            <button mat-button (click)="onClick('logout')" [class.selected]="buttonStatus">
                <i class="fas fa-sign-out-alt"></i> &nbsp;&nbsp;Logout</button>
        </a>
    </mat-card-actions>
</mat-card>