<div class="contentPart">
  <div class="headerpart_2">
    <h1>My Achievements</h1>
  </div>
  <div class="contentpart">
    <div class="container">
      <mat-card>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Date</th>
                <th>Achievements</th>
                <th>Action</th>
              </tr>
              <tr>
                <td>1</td>
                <td>mm/dd/yy</td>
                <td>xxx</td>
                <td>
                  <button mat-mini-fab matTooltip="view" matTooltipPosition="right"> <i class="far fa-eye"></i> </button>
                </td>
              </tr>
            </thead>
          </table>
        </div>
      </mat-card>
    </div>
  </div>
</div>
